section {
  width: 100%;
  min-height: 100dvh;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  color: #0d1b2a;
  gap: 24px;
  background-image: url('/assets/fundo-cadastro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.criarConta {
  display: flex;
  align-items: center;
  gap: 16px;
}
p{
  color: #64748B;
  font-weight: normal;
}
p a[routerLink='/login']{
  color: #16C1A3 ;
  font-weight: 600;
}
.login{
  display: flex;
  justify-content: center;
}

.criarConta a {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: rgba(22, 193, 163, 0.15);

  transition: 0.2s ease;
}

.criarConta a:hover {
  background-color: rgba(22, 193, 163, 0.25);
}

.criarConta svg {
  width: 20px;
  height: 20px;
  fill: #16c1a3;
}
@media (min-width: 768px) {
  section {
    width: 100%;
    height: 100dvh;
    min-height: 0;

    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background-image: url('/assets/fundo-cadastro-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
  }

  .criarConta {
    position: absolute;
    top: 44px;
    left: 40px;
  }

  section app-form-cadastro {
    width: 100%;
    max-width: 460px;
  }

  .login {
    position: absolute;
    bottom: 28px;

    width: 100%;
    max-width: 460px;

    display: flex;
    justify-content: center;
  }
}