<div class="footer-content">
    <div class="col-1">
        <img src="/Footer-imgs/Smap footer logo (Withe).png" alt="Logo da SMAP" class="smap-logo">
        <p>Sistema de mapeamento e acompanhamento de problemas</p>
    </div>
    <div class="col-2">
        <a routerLink="">Mapa completo</a>
        <a routerLink="">Como funciona</a>
        <a routerLink="">Termos de uso</a>
        <a routerLink="">Privacidade</a>
    </div>
    <div class="separation-bar">
        <hr>
    </div>
    <div class="copyrights">
        <span>&copy; 2026 SMAP - Smart Mapping, Blumenau, SC.</span>
    </div>
</div>