.ocurrences-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px;
    gap: 32px;
}

.container-media {
    display: flex;
    padding-top: 100px;
}

.container-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-text h2{
    font-size: 1.4rem;
    color: #0D1B2A;
}

.container-text p {
    color: #64748B;
    line-height: 25px;
}

.container-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-btn a {
    padding: 15.5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700px;
    background: #16C1A3;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    transition: color ease 0.3s;
}

.container-btn a:hover{
    color: #16C1A3;
    background-color: white;
}