.container {
  overflow-x: hidden;
  width: 100%;

  min-height: 100dvh;
  background-image: url('/assets/fundo-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
  text-align: start;
  box-sizing: border-box;
}

.saudacao {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 40%;
}

.bemvindo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.saudacao h1 {
  color: #16c1a3;
}

.saudacao img {
  width: auto;
  height: 25px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto {
  color: #64748b;
  font-size: 12px;
  padding-top: 8px;
}
p {
  color: #94a3b8;
  font-size: 14px;
  padding: 30px;
  display: flex;
  gap: 8px;
}

p a[routerLink='/cadastro'] {
  color: #16c1a3;
  text-decoration: none;
  font-weight: 600;
}
.entrarComGoogleApple {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.entrarComGoogleApple button {
  width: 45%;
  padding: 8px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  outline: none;
  background-clip: padding-box;
}
@media (min-width: 400px) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    background-image: url('/assets/smap-admin-login-ana.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .container {
    width: calc(100% - 32px);
    max-width: 460px;
    min-height: auto;

    background: #ffffff;

    border-radius: 16px;
    padding: 32px;

    box-sizing: border-box;

    box-shadow:
      0 10px 25px -5px rgba(0, 0, 0, 0.05),
      0 8px 10px -6px rgba(0, 0, 0, 0.03);

    border: 1px solid #e2e8f0;

    justify-content: flex-start;
    gap: 20px;
  }

  .saudacao {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .formulario {
    width: 100%;
  }

  app-form-login {
    display: block;
    width: 100%;
  }

  .entrarComGoogleApple button {
    height: 44px;

    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
  }

  p {
    padding: 0;
    margin-top: 8px;
  }
}
section {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.personagem {
  display: none;
}
@media (min-width: 800px) {
  section {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 460px;
    max-width: calc(100% - 32px);
    min-height: auto;
  }

  .personagem {
    display: block;
    width: auto;
    height: auto;

    margin-left: -25px;
    position: relative;
    top: 90px;

    z-index: 2;
  }
}
