form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
 
}

.caixa-input {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #94A3B8;
  font-weight: bolder;
  gap: 8px;
 
}

input {
  padding: 18px;
  width: 300px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-clip: padding-box;
}
.errorValidators {
  
  font-size: 12px;           
  color: #ffa3a3;
  font-weight: 500;
  white-space: wrap;       /* Impede que o texto de erro quebre em duas linhas */
  overflow: hidden;
  text-overflow: ellipsis;   /* Adiciona "..." se o texto for muito grande */
  max-width: 100%;
}
label.label-error{
  color: #fa6c6c;
}
input.input-error {
  border: 1px solid #fa6c6c !important;
  box-shadow: 0 0px 3px #fa6c6c;
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-6px); }
  40%, 80% { transform: translateX(6px); }
}
.box-validators{
  display: flex;
  gap: 10px;
}
a {
  color: #16c1a3;
  font-size: 12px;
  text-decoration: none;
  text-align: end;
   font-weight: 600;
  
}

button {
  background-color: #16c1a3;
  color: #ffffff;
  padding: 14px;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 10px;
  box-shadow: 0 1px 5px #16c1a246;
  border: none;
  outline: none;
  background-clip: padding-box;
}
.detalhe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detalhe div {
  width: 45%;
  color: #94A3B8;
  border-bottom: 1px solid #64748b;
}
.detalhe p{
  color: #94A3B8;
  font-size: 12px;
  
}
