form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}
.box-input {
  display: flex;
  flex-direction: column;
  color: #64748b;
  font-weight: bolder;
  font-size: 14px;
  gap: 8px;
}
input::placeholder {
  color: #64748b;
}
.nomeSobrenome{
  width: 100%;
  display: flex;
 gap: 12px;
}
.nomeSobrenome .box-input{
  flex: 1; 
  min-width: 0;
}
.check-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  font-weight: normal;
}
.check-box span {
  color: #16c1a3;
  font-weight: 600;
}
input[type='checkbox']{
   appearance: none;
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid #16c1a3;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type='checkbox']::after {
  content: '\e5ca';
  font-family: 'Material Symbols Outlined';
  font-size: 14px;
  font-weight: 900;
  color: #16c1a3;
  display: none;

}
input[type='checkbox']:checked {
  background-color: #16c1a234;
  border: 2px solid #16c1a3;
  box-sizing: border-box;
}

input[type='checkbox']:checked::after {
  display: block;
}

input:not([type='checkbox']) {
  height: 42px;
  border: 1px solid;
  border-color: #e2e8f0;
  outline: none;
  background-clip: padding-box;
  border-radius: 12px;
  padding: 8px;
}
button {
  background-color: #16c1a3;
  border: none;
  outline: none;
  background-clip: padding-box;
  height: 52px;
  border-radius: 16px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 16px;
  margin: 24px 0;
}
.errorValidators {
  
  font-size: 12px;           
  color: #ffa3a3;
  font-weight: 500;
  white-space: wrap;       /* Impede que o texto de erro quebre em duas linhas */
  overflow: hidden;
  text-overflow: ellipsis;   /* Adiciona "..." se o texto for muito grande */
  max-width: 100%;
}
label.label-error{
  color: #fa6c6c;
}
input.input-error {
  border: 1px solid #fa6c6c !important;
  box-shadow: 0 0px 3px #fa6c6c;
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-6px); }
  40%, 80% { transform: translateX(6px); }
}
