.title-text{ 
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    max-width: 400px;
    line-height: 1.2;
}
.you {
    color: #16C1A3;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-direction{
    display: block;
    text-align: left;
    margin-left: 5%;
}

.text-box{
   margin-left: 5%;
   line-height: 1.4;
   font-size: 1.2rem ;
   color: #64748B;
}